<!doctype html>
<html lang="en">
  <head>
  	<title>Android Document Sharing System using Blockchain</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Android Document Sharing System using Blockchain</h2>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row justify-content-between">
				<div class="col">
					<a class="navbar-brand" href="/dashboard">Document <span>Sharing</span></a>
				</div>
				<div class="col d-flex justify-content-end">
					<div class="social-media">
		    		<p class="mb-0 d-flex">
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
		    		</p>
	        </div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
				<form action="#" class="searchform order-lg-last">
        </form>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item"><a href="/dashboard" class="nav-link">Home</a></li>
	        	<li class="nav-item"><a href="/mydocuments" class="nav-link">My Documents</a></li>
	        	<li class="nav-item"><a href="/sharedocument" class="nav-link">Share Document</a></li>
                <li class="nav-item active"><a href="/mysharedocuments" class="nav-link">Shared Documents</a></li>
                <li class="nav-item"><a href="/shareddocuments" class="nav-link">My Friend Documents</a></li>
	          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

	</section>
	<section>
		<div class="container">
            <h3>My Documents</h3> <br/><br/>
            <div class="table-responsive-sm">
                <table class="table table-bordered">
                    <tr>
                        <th>Document Name</th>
                        <th>Document Shared to</th>
                        <th>Cancel Sharing</th>
                    </tr>
                    {%for i in range(0,len)%}
                        <tr>
                            <td><img src="{{dashboard_data[i][0]}}" height="250" width="250"></td>
                            <td>{{dashboard_data[i][1]}}</td>
                            <td><a href="/cancel/{{dashboard_data[i][0]}}/{{dashboard_data[i][1]}}">Cancel Sharing</a></td>
                        </tr>
                    {%endfor%}
                </table>
            </div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

